:host {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
}

.content {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #D3D3D3;   
}

.select {
    margin-top: 0.5rem;
    display: flex;
    justify-content: end;
    align-items: start;
}

svg {
    display: flex;
    justify-content: center;
    align-items: center;                                                          
}

.graph-draw {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


.link-label {
    font-size: 10px;
    fill: #666;
    text-anchor: middle;
}

.reset-button {
    margin-left: 1rem;
}

.edit {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 3rem;
    margin-left: 3rem;
}

.edit-button {
    width: 10rem;
}

.reset-active {
    background-color: red;
}