<div class = "content">
    <div class = "select">
        <div class="col-lg-6">
            <mat-label class="f-w-600 m-b-8 d-block">Selected Algorithm</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select [(value)]="selectedAlgorithmId" (selectionChange)="onSelectedAlgorithmChange($event)">
                @for(algorithm of algorithmOptions; track algorithm.id) {
                <mat-option [value]="algorithm.id">{{algorithm.name}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <div class = "div-run-algorithm">
              <button class="execute-button" mat-flat-button color="warn" [ngClass]="{'reset-active': isAlgorithmExecuting}" (click)="executeAlgorithm()">{{ isAlgorithmExecuting ? 'Stop' : 'Start' }}</button>
              <button class="reset-button" mat-flat-button color="warn" (click)="resetAlgorithm()">Reset</button>
          </div>
          <div id="distance-display" style="margin-top: 20px;"></div>
          </div>
    </div>
    <div class = "edit">
      <button class="edit-button" mat-flat-button color="warn" (click)="editGraph()">Edit Graph</button>
    </div>
    <div class = "graph-draw" #graphSeeContainer>
    </div>
</div>