name: Deploy Backend Pipeline

on:
  push:
    branches:
      - main

env:
  APP_NAME: algorithm-visualizer-backend
  DOCKER_IMAGE: pedroaug4/algorithm-visualizer:latest  

jobs:
  deploy:
    name: Build Docker & Deploy to VPS
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '17'

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t ${{ env.DOCKER_IMAGE }} .

      - name: Push Docker image
        run: |
          docker push ${{ env.DOCKER_IMAGE }}

      - name: Deploy to VPS
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: 22
          script: |
          
            cd ~/algorithm-visualizer || exit 1

            sudo docker stop algorithm-visualizer || true
            sudo docker rm algorithm-visualizer || true
            
            sudo docker pull ${{ env.DOCKER_IMAGE }}
            
            sudo docker run -d --name algorithm-visualizer 
            -p 8080:8080 
            --env-file ~/.env 
            algorithm-visualizer

