<div class = "content">
    <div class="form-graph">
        <div class="row">
          <div class="col-sm-12 d-flex align-items-center">
            <mat-label class="f-s-14 f-w-600 d-block m-b-16">Graph Inputs</mat-label>
            <button class="clear-button" mat-flat-button color="warn" (click)="onClear()">Clear</button>
          </div>
            <div class="col-sm-12">
                <table class="w-100">
                    <tbody>
                      @for (item of items; track item; let i = $index) {
                        <tr>
                          <td class="p-r-8">{{ i + 1 }}</td>
                          <td class="w-100">
                            <mat-form-field appearance="outline" class="w-100">
                              <input
                                matInput
                                #graphInput
                                type="text"
                                [placeholder]="getGraphPlaceholder()"
                                [(ngModel)]="item.text"
                                (keydown.enter)="onEnter(i)"
                                (paste)="onPaste($event, i)"
                                (input)="onInput()"
                              />
                            </mat-form-field>
                          </td>
                        </tr>
                      }
                    </tbody>
                </table>
          </div>
          <div class = "graph-options">
            <mat-button-toggle-group [formControl]="graphTypeControl" aria-label="Graph Type">
              <mat-button-toggle value="0">Directed</mat-button-toggle>
              <mat-button-toggle value="1">Undirected</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group [formControl]="graphWeightTypeControl" aria-label="Graph Weight Type">
              <mat-button-toggle value="0">Not Weighted</mat-button-toggle>
              <mat-button-toggle value="1">Weighted</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
    </div>
      <div class = "graph-draw" #graphContainer style="margin-top: 20px;">

      </div>
</div>
