:host {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
}


svg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.graph-draw {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
    background-color: #E0E0E0;
}

.draw {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.form-graph {
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    min-width: 15rem;
    max-width: 20rem;
    overflow-x: hidden;
    height: 80%;
    margin-top: 1rem;
}

.content {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.clear-button {
    margin-left: 2rem;
}

.create-button {
    margin: 2rem;
    width: 100%;
}

.graph-input {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.graph-save {
    display: flex;
    justify-content: center;
    align-items: center;
}

.graph-options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    height: 5rem;
}

.link-label {
    font-size: 10px;
    fill: #666;
    text-anchor: middle;
}

.graph-create-ai {
    padding: 1rem;
    background-color: #e8f0fe;
    border: 1px solid #b6d4fe;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-button-ai {
    margin-top: 9rem;
    width: 100%;
}

::ng-deep mat-form-field .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--outlined {
    background-color: lightyellow !important;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .form-graph {
        min-width: 12rem !important;
        max-width: 12rem !important;
        overflow-x: auto;
    }

    .graph-draw {
        width: 100%;
    }

    .graph-options {
        margin-left: 3rem;
    }


    .graph-create-ai {
        margin-left: 4rem;
    }
}