:host {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
}


svg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.graph-draw {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
    background-color: #E0E0E0;
}

.draw {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.form-graph {
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    min-width: 15rem;
    max-width: 20rem;
    overflow-x: hidden;
    height: 80%;
    margin-top: 1rem;
}

.content {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.clear-button {
    margin-left: 2rem;
}

.create-button {
    margin: 2rem;
    width: 100%;
}

.graph-input {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.graph-save {
    display: flex;
    justify-content: center;
    align-items: center;
}

.graph-options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    height: 5rem;
}

.link-label {
    font-size: 10px;
    fill: #666;
    text-anchor: middle;
}

.graph-create-ai {
    padding: 1rem;
    background-color: #e8f0fe;
    border: 1px solid #b6d4fe;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-button-ai {
    margin-top: 9rem;
    width: 100%;
}

::ng-deep mat-form-field .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--outlined {
    background-color: lightyellow !important;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {

    :host,
    .content {
        flex-direction: column !important;
        height: 100vh;
        overflow: hidden;
    }

    .form-graph {
        min-width: 100% !important;
        max-width: 100% !important;
        width: 100%;

        height: 40vh;
        margin-top: 0;
        border-left: none;
        border-bottom: 1px solid #ccc;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .row {
        width: 90%;
        margin: 0 auto;
    }

    .graph-draw {
        flex: 1;
        width: 100%;
        height: auto;
        margin-top: 0 !important;
        background-color: #E0E0E0;
    }

    .graph-options,
    .graph-create-ai {
        margin-left: 0 !important;
        width: 100%;
        align-items: center;
    }

    .create-button {
        width: 90%;
        margin: 1rem 0;
    }

    .create-button-ai {
        margin-top: 1rem;
    }

    .col-sm-12 {
        width: 100%;
    }

    .graph-create-ai {
        margin-left: 0 !important;
        width: 100%;
        height: auto;
        padding: 1rem;

        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 1rem;
    }

    .graph-create-ai mat-form-field {
        width: 100%;
        margin-bottom: 5rem !important;
    }

    .create-button-ai {
        width: 100%;
        margin-top: 0 !important;
    }

    .graph-save {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .create-button {
        width: 100%;
        height: 3rem;
        margin: 3rem 0 !important;
    }
}