.google-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    margin-bottom: 2rem;
}

.button-anonymous span {
    margin-left: 1rem;
}

.google-button-container {
    width: 100%;
    max-width: 25rem;
}

.logo-title {
    font-size: 20px;
}


@media (min-width: 768px) {
    .google-button-container {
        width: 12.5rem;
        max-width: 12.5rem;
    }


    .logo-title {
        font-size: 25px;
    }
}