@if(profile$ | async; as profile) {
    <mat-card class="cardWithShadow text-center little-profile">
        <mat-card-content class="p-24">
            <div class="pro-img">
                <img [src]="profile?.photo || '/assets/images/profile/user-default.svg'" alt="user" width="50" class="rounded-circle" />
            </div>
            <h3 class="m-b-0 f-s-20 f-w-500 m-t-30">{{profile.name}}</h3>
            <div class="row">
                <div class="col-4">
                    <h3 class="m-b-4 f-s-20 f-w-500">{{ formatDateToMDY(profile.createdAt) }}</h3>
                    <span class="f-s-14">User since</span>
                </div>
                <div class="col-4">
                    <h3 class="m-b-4 f-s-20 f-w-500">{{profile.graphsCreated}}</h3>
                    <span class="f-s-14">Graphs created</span>
                </div>
                <div class="col-4">
                    <h3 class="m-b-4 f-s-20 f-w-500">{{profile.matricesCreated}}</h3>
                    <span class="f-s-14">Matrices created</span>
                </div>
            </div>
            <div class="d-flex justify-content-center margin">
                <div>
                    <h3 class="m-b-4 f-s-20 f-w-500">{{profile.email}}</h3>
                    <span class="f-s-14">email</span>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
} @else {
    <mat-card class="cardWithShadow text-center little-profile">
        <mat-card-content class="p-24">
            <div class="pro-img">
                <img src="assets/images/profile/user-4.jpg" width="128" alt="user" class="rounded-circle" />
            </div>
            <h3 class="m-b-0 f-s-20 f-w-500 m-t-30">Angela Dominic</h3>
            <div class="row">
                <div class="col-4">
                    <h3 class="m-b-4 f-s-20 f-w-500">03/03/2004</h3>
                    <span class="f-s-14">User since</span>
                </div>
                <div class="col-4">
                    <h3 class="m-b-4 f-s-20 f-w-500">23,469</h3>
                    <span class="f-s-14">Graphs created</span>
                </div>
                <div class="col-4">
                    <h3 class="m-b-4 f-s-20 f-w-500">6035</h3>
                    <span class="f-s-14">Matrices created</span>
                </div>
            </div>
            <div class="d-flex justify-content-center margin">
                <div>
                    <h3 class="m-b-4 f-s-20 f-w-500">pedroaugustoaduartegmail.com</h3>
                    <span class="f-s-14">email</span>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
}