name: Deploy Frontend Pipeline

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Build Angular & Deploy via SCP
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: |
          cd frontend/algorithm-visualizer
          npm install

      - name: Build Angular app
        run: |
          cd frontend/algorithm-visualizer
          npm run build

      - name: Clean old files on VPS
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: 22
          script: |
            cd /var/www/algorithm-visualizer || exit 1
            rm -rf *

      - name: Copy dist files to VPS
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: 22
          source: "frontend/algorithm-visualizer/dist/Materialpro/*"
          target: "/var/www/algorithm-visualizer"
          strip_components: 4

      - name: Reload Nginx
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: 22
          script: |
            sudo nginx -t
            sudo systemctl reload nginx
