.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.continue-button {
    margin-right: 3rem;
    background-color: #ff9800;
}

.create-button {
    width: 10rem;
}

.warn-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}